<div class="mb-3">
    <nb-accordion>
        <nb-accordion-item>
            <nb-accordion-item-header>
                Tìm kiếm
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xxxl-4">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 pb-1">Từ khóa</div>
                            <div class="col-md-12 col-lg-12">
                                <input type="text" fullWidth nbInput class="m-input form-control"
                                    [(ngModel)]="modelSearch.filter" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xxxl-4">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 pb-1">Dịch vụ </div>
                            <div class="col-md-12 col-lg-12">
                                <ngx-cagt-select 
                                    [modeOfDropDowList]="dropdownListEnum.DICH_VU_ID" 
                                    [isMulti]="true"
                                    [(ngModel)]="modelSearch.dichVuIds">
                                </ngx-cagt-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xxxl-4">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 pb-1">Bộ sản phẩm </div>
                            <div class="col-md-12 col-lg-12">
                                <ngx-cagt-select 
                                [modeOfDropDowList]="dropdownListEnum.BO_SAN_PHAM_ID" 
                                [isMulti]="true"
                                [(ngModel)]="modelSearch.boSanPhamIds">
                            </ngx-cagt-select>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="col-md-6 offset-md-3 text-center">
                            <button class="mr-2" nbButton size="small" status="primary" (click)="onSearchChange()">
                                <i class="fa fa-search mr-2"></i> Tìm kiếm
                            </button>
                            <button class="mr-2" nbButton size="small" status="warning" (click)="resetHandler()">
                                <i class="fas fa-redo-alt mr-2"></i> Làm mới
                            </button>
                        </div>
                    </div>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</div>
<nb-card>
    <nb-card-header> Sản phẩm </nb-card-header>
    <nb-card-body>
        <kendo-grid 
            [data]="gridView$" 
            [resizable]="true" 
            [pageSize]="5" 
            [skip]="gridState.skip"
            [loading]="isLoading" 
            [pageable]="true" 
            [resizable]="true" 
            kendoGridSelectBy="id"             
            [selectable]="{mode: 'single'}"
            [selectedKeys]="selectionIds" 
            (selectionChange)="selectRow($event)"
            (dataStateChange)="onStateChange($event)">
            <kendo-grid-checkbox-column class="text-center" showSelectAll="true" [width]="50" [columnMenu]="false"
                [headerStyle]="{
                      'text-align': 'center'
                    }">

            </kendo-grid-checkbox-column>
            <kendo-grid-column title="STT" [width]="60" class="text-center" [headerStyle]="{ 'text-align': 'center'}">
                <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                    {{ rowIndex + 1 }}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="codeSanPham" title="Mã sản phẩm" [width]="150">
            </kendo-grid-column>
            <kendo-grid-column field="tenSanPham" title="Tên sản phẩm" [width]="250">
            </kendo-grid-column>
            <kendo-grid-column field="loaiBoSanPham" title="Bộ sản phẩm" [width]="200">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.boSanPhamDTO?.ten }}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="giaGoc" title="Giá gốc" [width]="120">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="text-right">
                        {{ dataItem.giaGoc?.toLocaleString() }}
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="giaKhuyenMai" title="Giá khuyến mãi" [width]="120">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="text-right">
                        {{ dataItem.giaKhuyenMai?.toLocaleString() }}
                    </div>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </nb-card-body>
</nb-card>
<div class="text-right border-form-footer">
    <button nbButton status="primary" type="button" (click)="closeForm()"
        class="btn_custom btn_df mr-1"  size="small">Hủy</button>
    <a nbButton status="danger" (click)="chonSanPham()" class="btn_custom btn_add" size="small">Chọn</a>
</div>