<nb-card>
    <nb-card-header>Thông tin khách hàng</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputName" class="label">Họ và tên</label>
                    <input type="text" nbInput fullWidth id="inputFirstName" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputNumber" class="label">Số điện thoại</label>
                    <input type="text" nbInput fullWidth id="inputLastName" placeholder="">
                </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="inputDrict" class="label">Địa chỉ</label>
                    <input type="email" nbInput fullWidth id="inputEmail" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail" class="label">Email address</label>
                    <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="exampleInputEmail" class="label">Nội dung</label>
                    <textarea rows="4" nbInput fullWidth shape="round" placeholder="Text Area"></textarea>
                </div>

            </div>
        </div>


    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>Thông tin chăm sóc khách hàng</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputName" class="label">Thời gian</label>
                    <input type="text" nbInput fullWidth id="inputFirstName" placeholder="">
                </div>

            </div>
            <div class="col-sm-4">

                <div class="form-group">
                    <label for="inputNumber" class="label">Người phụ trách</label>
                    <input type="text" nbInput fullWidth id="inputLastName" placeholder="">
                </div>

            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputDrict" class="label">Tiêu đề</label>
                    <input type="email" nbInput fullWidth id="inputEmail" placeholder="">
                </div>
            </div>
            <div class="col-sm-12">


                <div class="form-group">
                    <label for="exampleInputEmail" class="label">Nội dung</label>
                    <textarea rows="2" nbInput fullWidth shape="round" placeholder="Text Area"></textarea>
                </div>
            </div>

        </div>


    </nb-card-body>

</nb-card>
<div class="custom_bt">
    <button type="submit" nbButton status="primary">Save</button>
    <button class="ml-2" type="submit" nbButton status="danger">Cancer</button>
</div>