<nb-card>
    <nb-card-header>
        Khách hàng
    </nb-card-header>
    <nb-card-body>
        <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table> -->
        <kendo-grid 
            [data]="gridView$ | async" 
            [resizable]="true" 
            [pageSize]="gridState.take" 
            [skip]="gridState.skip"
            [loading]="isLoading" 
            [pageable]="true" 
            [resizable]="true" 
            kendoGridSelectBy="id" 
            [selectedKeys]="selectionIds"
            (dataStateChange)="onStateChange($event)">
        <kendo-grid-checkbox-column [showSelectAll]="true" [width]="60" [columnMenu]="false">
        </kendo-grid-checkbox-column>
        <kendo-grid-column title="'Thao tác" class="text-center" [width]="100" [columnMenu]="false">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <nz-button-group>
                    <button nz-button class="btn-light ml-2" (click)="editHandler(dataItem)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button nz-button class="btn-light" (click)="removeHandler(dataItem)">
                        <i class="fa fa-trash"></i>
                    </button>
                </nz-button-group>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column class="text-center" field="id" title="ID">
        </kendo-grid-column>
        <kendo-grid-column field="hoTen" title="Họ tên">
        </kendo-grid-column>
        <kendo-grid-column field="ngaySinh" title="Ngày sinh">
        </kendo-grid-column>
        <kendo-grid-column field="soDienThoai" title="Số điện thoại">
        </kendo-grid-column>
        <kendo-grid-column field="email" title="Email">
        </kendo-grid-column>
        <kendo-grid-column field="loaiKhachHang" title="Loại khách hàng">
        </kendo-grid-column>
        <ng-template kendoGridDetailTemplate let-dataItem>
            <section>
                <div class="row" *ngIf="dataItem.hoTen != null && dataItem.hoTen != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label">Họ tên
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.hoTen }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="dataItem.ngaySinh != null && dataItem.ngaySinh != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label">Ngày sinh
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.ngaySinh }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="dataItem.diaChi != null && dataItem.diaChi != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label">Địa chỉ
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.diaChi }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="dataItem.soDienThoai != null && dataItem.soDienThoai != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label">Số điện thoại
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.soDienThoai }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="dataItem.email != null && dataItem.email != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label">Email
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.email }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="dataItem.loaiKhachHang != null && dataItem.loaiKhachHang != ''">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-2 col-form-label">Loại khách hàng
                                <span class="float-right">:</span>
                            </label>
                            <label class="col-10 col-form-label lb-bold-info">
                                {{ dataItem?.loaiKhachHang }}
                            </label>
                        </div>
                    </div>
                </div>
            </section>
        </ng-template>
    </kendo-grid>
    </nb-card-body>
</nb-card>
<div class="wrapper form-layouts">
    <div kendoWindowContainer></div>
</div>