<!-- <nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xxxl-3 row">
                <div class="col-md-12 col-lg-12">
                    Loại khách hàng
                </div>
                <div class="col-md-12 col-lg-12">
                    <ngx-cagt-select-multiple 
                        [modeOfDropDowList]="dropdownListEnum.LOAI_KHACH_HANG"
                        [(ngModel)]="valuex"
                        onchange="testchange()">
                    </ngx-cagt-select-multiple>
                    {{valuex}}
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <button nbButton status="primary" size="small" (click)="test()">
                    <i class="fa fa-search"></i> Tìm kiếm
                </button>
            </div>
        </div>
    </nb-card-body>
</nb-card> -->
<nb-card>
    <nb-card-header>
        Khách hàng
    </nb-card-header>
    <nb-card-body>
        <button nbButton status="success" (click)="addHandler()">
            Thêm mới
        </button>
    </nb-card-body>
    <nb-card-body>
        <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table> -->
        <kendo-grid [data]="gridView$" [resizable]="true" [pageSize]="gridState.take" [skip]="gridState.skip"
            [loading]="isLoading" [pageable]="true" [resizable]="true" kendoGridSelectBy="id" [selectable]="true"
            [selectedKeys]="selectionIds" (dataStateChange)="onStateChange($event)">
            <kendo-grid-column class="text-center" [width]="70">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button nbButton status="primary" size="small" (click)="editHandler(dataItem)">
                        <i class="fa fa-edit"></i>
                    </button>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column class="text-center" [width]="70">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button nbButton status="danger" size="small" (click)="removeHandler(dataItem)">
                        <i class="fa fa-trash"></i>
                    </button>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column class="text-center" field="id" title="ID">
            </kendo-grid-column>
            <kendo-grid-column field="hoTen" title="Họ tên">
            </kendo-grid-column>
            <kendo-grid-column field="ngaySinh" title="Ngày sinh">
            </kendo-grid-column>
            <kendo-grid-column field="soDienThoai" title="Số điện thoại">
            </kendo-grid-column>
            <kendo-grid-column field="email" title="Email">
            </kendo-grid-column>
            <kendo-grid-column field="loaiKhachHang" title="Loại khách hàng">
            </kendo-grid-column>
            <ng-template kendoGridDetailTemplate let-dataItem>
                <section>
                    <div class="row" *ngIf="dataItem.hoTen != null && dataItem.hoTen != ''">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-2 col-form-label">Họ tên
                                    <span class="float-right">:</span>
                                </label>
                                <label class="col-10 col-form-label lb-bold-info">
                                    {{ dataItem?.hoTen }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="dataItem.ngaySinh != null && dataItem.ngaySinh != ''">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-2 col-form-label">Ngày sinh
                                    <span class="float-right">:</span>
                                </label>
                                <label class="col-10 col-form-label lb-bold-info">
                                    {{ dataItem?.ngaySinh }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="dataItem.diaChi != null && dataItem.diaChi != ''">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-2 col-form-label">Địa chỉ
                                    <span class="float-right">:</span>
                                </label>
                                <label class="col-10 col-form-label lb-bold-info">
                                    {{ dataItem?.diaChi }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="dataItem.soDienThoai != null && dataItem.soDienThoai != ''">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-2 col-form-label">Số điện thoại
                                    <span class="float-right">:</span>
                                </label>
                                <label class="col-10 col-form-label lb-bold-info">
                                    {{ dataItem?.soDienThoai }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="dataItem.email != null && dataItem.email != ''">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-2 col-form-label">Email
                                    <span class="float-right">:</span>
                                </label>
                                <label class="col-10 col-form-label lb-bold-info">
                                    {{ dataItem?.email }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="dataItem.loaiKhachHang != null && dataItem.loaiKhachHang != ''">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="col-2 col-form-label">Loại khách hàng
                                    <span class="float-right">:</span>
                                </label>
                                <label class="col-10 col-form-label lb-bold-info">
                                    {{ dataItem?.loaiKhachHang }}
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
            </ng-template>
        </kendo-grid>
    </nb-card-body>
</nb-card>

<div class="k-overlay" *ngIf="opened"></div>
<div class="wrapper form-layouts">
    <div kendoWindowContainer></div>
</div>