<configuration>
<system.webServer>
  <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <staticContent>
        <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        <remove fileExtension=".js.gz" />
          <remove fileExtension=".css.gz" />
          <remove fileExtension=".png.gz" />
          <remove fileExtension=".jpg.gz" />
          <remove fileExtension=".gif.gz" />
          <remove fileExtension=".svg.gz" />
          <remove fileExtension=".html.gz" />
          <remove fileExtension=".json.gz" />
          <mimeMap fileExtension=".js.gz" mimeType="application/javascript" />
          <mimeMap fileExtension=".css.gz" mimeType="text/css" />
          <mimeMap fileExtension=".png.gz" mimeType="image/png" />
          <mimeMap fileExtension=".jpg.gz" mimeType="image/jpeg" />
          <mimeMap fileExtension=".gif.gz" mimeType="image/gif" />
          <mimeMap fileExtension=".svg.gz" mimeType="image/svg+xml" />
          <mimeMap fileExtension=".html.gz" mimeType="text/html" />
          <mimeMap fileExtension=".json.gz" mimeType="application/json" />
    </staticContent>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_ACCEPT_ENCODING}" pattern="gzip" />
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}.gz" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>
