<div class="row">
  <div class="form-group m-form__group col-6">
      <label> Data khách hàng phải có định dạng là xlsx hoặc xls. </label>   
  </div> 
</div>
<div class="text-center border-form-footer">
  <a nbButton status="primary" type="button"  class="btn_custom btn_df mr-1" [href]="linkExport">Tải mẫu</a>
  <label for="files" class="btn-import btn btn-success mr-1 mt-1 font-weight-bold text-uppercase">Import</label>
  <input id="files" style="display: none;" type="file" (change)="importHandler($event.target.files)"/>
</div>