<div class="row">
    <div class="col-lg-9">
        <nb-card>
            <nb-card-header>
                Làm bài thi
            </nb-card-header>
            <nb-card-body>
              <div *ngFor="let ht of giaoDienCauHois">
                <div [innerHTML]="ht.noiDungCauHoi"></div>
                <hr>
              </div>

                <cdk-virtual-scroll-viewport style="height: 400px" itemSize="90">
                    <nb-card>
                        <nb-card-header>
                          <div [innerHTML]="currentCauHoi.noiDungCauHoi"></div>
                        </nb-card-header>
                        <nb-card-body>
                          <div *ngIf="currentCauHoi.dapAns.length <= 0">
                            <h4>Ok</h4>
                            <ckeditor [config]="ckConfig" [(ngModel)]="currentCauHoi.cauTraLoi"></ckeditor>
                          </div>
                          <div *ngFor="let item of currentCauHoi.dapAns">
                            <p>
                              <nb-checkbox status="info"><div [innerHTML]="item.noiDungCauHoi"></div></nb-checkbox>
                            <p>
                          </div>
                        </nb-card-body>
                    </nb-card>
                </cdk-virtual-scroll-viewport>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg 3">
        <nb-card>
            <nb-card-header>
                Thời gian làm bài
            </nb-card-header>
            <nb-card-header>
                <!-- Set by minutes -->
                <h2 class="text-center text-bold" style="color: red;">
                    <ngx-count-down interval="0.5" (onComplete)="completed()"></ngx-count-down>
                </h2>
            </nb-card-header>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <nb-alert status="info" class="text-center">Danh sách câu hỏi</nb-alert>
                <cdk-virtual-scroll-viewport style="height: 215px" itemSize="90">

                    <div *ngFor="let item of cauHoiTreeLeaf;let i = index">
                      <div *ngIf="i==0">
                        <button nbButton hero class="m-1" status="success">{{i+1}}</button>
                      </div>
                      <div *ngIf="i>0">
                        <button nbButton hero class="m-1" status="basic">{{i+1}}</button>
                      </div>
                    </div>

                </cdk-virtual-scroll-viewport>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-12">
        <nb-card>
            <nb-card-body>
                <div class="float-left">
                    <button nbButton size="medium" status="primary" class=" mr-2">
                        <i class="fa fa-arrow-left mr-2"></i>Câu trước
                    </button>
                    <button nbButton size="medium" status="primary">
                        Câu sau <i class="fa fa-arrow-right ml-2"></i>
                    </button>
                </div>
                <div class="float-right">
                    <button nbButton size="medium" status="success">
                        <i class="fa fa-file mr-2"></i>Nộp bài
                    </button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
