<form class="m-form" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group m-form__group col-4">
            <label> Mã </label>
            <input nbInput type="text" class="m-input form-control" fullWidth formControlName="codeSanPham" />
        </div>
        <div class="form-group m-form__group col-8">
            <label> Tên </label>
            <input nbInput type="text" class="m-input form-control" fullWidth formControlName="tenSanPham" />
        </div>
        <div class="form-group m-form__group col-4">
            <label> Giá gốc </label>
            <input nbInput class="m-input form-control" fullWidth currencyMask min="0" formControlName="giaGoc" [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 0 }"/>
        </div>
        <div class="form-group m-form__group col-4">
            <label> Giá bán </label>
            <input nbInput class="m-input form-control" fullWidth currencyMask min="0" formControlName="giaBan" [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 0 }"/>
        </div>
        <div class="form-group m-form__group col-4">
            <label> Giá khuyến mãi </label>
            <input nbInput class="m-input form-control" fullWidth currencyMask min="0" formControlName="giaKhuyenMai" [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 0 }"/>
        </div>
        <div class="form-group m-form__group col-4">
            <label> Phần trăm thuế (%) </label>
            <input nbInput class="m-input form-control" fullWidth currencyMask min="0" formControlName="phanTramThue" [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 0 }"/>
        </div>
        <div class="form-group m-form__group col-4">
            <label> Loại </label>
            <app-cagt-select-optionCrt
                [modeOfDropDowList]="dropdownListEnum.LOAI_SAN_PHAM" 
                formControlName="loaiSanPham">
            </app-cagt-select-optionCrt>
        </div>
        <div class="form-group m-form__group col-4">
            <label> Trạng thái </label>
            <app-cagt-select-optionCrt
                [modeOfDropDowList]="dropdownListEnum.TRANG_THAI_SAN_PHAM" 
                formControlName="trangThaiSanPham">
            </app-cagt-select-optionCrt>
        </div>

        <div class="form-group m-form__group col-4">
            <label> Bộ sản phẩm </label>
            <app-chon-bo-san-pham [dataIn]="model.dichVuDTO.ten" (dataOut)="chonBoSanPham($event)"></app-chon-bo-san-pham>
        </div>

        <div class="form-group m-form__group col-12">
            <label> Nội dung Marketing </label>
            <textarea rows="3"  nbInput fullWidth formControlName="noiDungMarketing" ></textarea>
        </div>
    </div>
    <div class="text-right border-form-footer">
        <button nbButton status="primary" type="button" (click)="closeForm()" class="btn_custom btn_df mr-1">Hủy</button>
        <button nbButton status="danger" type="submit" class="btn_custom btn_add">Lưu</button>
    </div>
</form>