<!-- <div *ngIf="isMulti; else elseBlock">
    <nb-select placeholder="Chọn" fullWidth [(ngModel)]="value" multiple (selectedChange)="handleOnChange($event)"
        style="width: 100%;">
        <nb-option *ngFor="let item of lstData" value="{{item}}">{{item}}</nb-option>
    </nb-select>
</div>
<ng-template #elseBlock>
    <nb-select placeholder="Chọn" fullWidth [(ngModel)]="value" [selected]="value" (selectedChange)="handleOnChange($event)"
        style="width: 100%;">
        <nb-option *ngFor="let item of lstData" value="{{item}}">{{item}}</nb-option>
    </nb-select>
</ng-template> -->

<ng-select2 [data]="lstData"
    [(ngModel)]="value"
    [options]="options"
    (valueChanged)="handleOnChange($event)"
    bindLabel="text"
    bindValue="text">
</ng-select2>