<div class="row">
	<div class="col-md-12">
		<nb-card status="success">
			<nb-card-header>
				<h2 class="title">Hoàn thành bài thi</h2>
			</nb-card-header>
			<nb-card-body>
				<div class="mt-10 mb-10 flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
					<div class="text-center">
						<img class="w-100" src="../../../../assets/images/successful-exam.jpg" alt="">
						<button nbButton type="button" class="home-button">
							Trở về trang chủ
						</button>
					</div>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
</div>