<form class="m-form" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group m-form__group col-12">
            <label> Nhận xét </label>
            <textarea rows="3"  nbInput fullWidth formControlName="nhanXet" ></textarea>
        </div>
    </div>
    <div class="text-right border-form-footer">
        <button nbButton status="primary" type="button" (click)="closeForm()" class="btn_custom btn_df mr-1">Hủy</button>
        <button nbButton status="danger" type="submit" class="btn_custom btn_add">Lưu</button>
    </div>
</form>