<div class="row">
  <div class="form-group m-form__group col-6">
      <label> Data khách hàng phải có định dạng là xlsx hoặc xls. </label>   
  </div> 
</div>
<div class="text-center border-form-footer">
  <button nbButton status="primary" type="button" (click)="exportTemplate()" class="btn_custom btn_df mr-1">Tải mẫu</button>
  <button nbButton status="wrapper" type="button" (click)="closeForm()" class="btn_custom btn_df mr-1">Hủy</button>
  <button nbButton status="success" type="button" (click)="importHandler()"  class="btn_custom btn_add">Import</button>
</div>