.k-dialog-titlebar {
    border-color           : inherit;
    color                  : #ffffff;
    background             : linear-gradient(to right, #3a7bd5, #3a6073);
    border-top-left-radius : 10px;
    border-top-right-radius: 10px;
}

.k-in {
    width        : 100% !important;
    padding-right: 0px;
}

.k-grid-header .k-header {
    font-weight: bold;
}

kendo-window.k-widget.k-window.ng-star-inserted {
    z-index: 999 !important;
}

.k-overlay.ng-star-inserted {
    z-index: 998 !important;

}

kendo-window.k-widget.k-window.ng-star-inserted {
    border-radius: 10px;
}
.k-icon.k-plus{
    text-decoration: none;
}
.k-icon.k-plus:before {
    font-family: FontAwesome;
    content: '\f0da';
}
.k-icon.k-minus{
    text-decoration: none;
}
.k-icon.k-minus:before {
    font-family: FontAwesome;
    content: '\f0d7';
}
td.k-detail-cell {
    background: #FAFAFA;
}
td.k-hierarchy-cell {
    background: #FAFAFA;
}