<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-xxxl-3 ">
                <div class="row">
                    <div class="col-md-12 col-lg-12 pb-1">Từ khóa</div>
                    <div class="col-md-12 col-lg-12">
                        <input type="text" nbInput class="m-input form-control" [(ngModel)]="modelSearch.keyword" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xxxl-3 ">
                <div class="row">
                    <div class="col-md-12 col-lg-12 pb-1">Doanh thu từ</div>
                    <div class="col-md-12 col-lg-12">
                        <input type="number" nbInput class="m-input form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xxxl-3 ">
                <div class="row">
                    <div class="col-md-12 col-lg-12 pb-1">Doanh thu đến</div>
                    <div class="col-md-12 col-lg-12">
                        <input type="number" nbInput class="m-input form-control" />
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-xxxl-3 ">
                <div class="row">
                    <div class="col-md-12 col-lg-12 pb-1">Loại khách hàng</div>
                    <div class="col-md-12 col-lg-12">
                        <ngx-cagt-select [modeOfDropDowList]="dropdownListEnum.LOAI_KHACH_HANG" [isMulti]="true" [(ngModel)]="modelSearch.loaiKhachHangs">
                        </ngx-cagt-select>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xxxl-3 ">
                <div class="row">
                    <div class="col-md-12 col-lg-12 pb-1">Thời gian từ</div>
                    <div class="col-md-12 col-lg-12">
                        <input type="date" nbInput class="m-input form-control mr-2" [(ngModel)]="modelSearch.thoiGianTu" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xxxl-3 ">
                <div class="row">
                    <div class="col-md-12 col-lg-12 pb-1">Thời gian đến</div>
                    <div class="col-md-12 col-lg-12">
                        <input type="date" nbInput class="m-input form-control mr-2" [(ngModel)]="modelSearch.thoiGianDen" />
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-xxxl-3 ">
                <div class="row">
                    <div class="col-md-12 col-lg-12 pb-1">Nguồn khách hàng</div>
                    <div class="col-md-12 col-lg-12">
                        <ngx-cagt-select [modeOfDropDowList]="dropdownListEnum.NGUON_KHACH_HANG" [isMulti]="true" [(ngModel)]="modelSearch.nguonKhachHangs">
                        </ngx-cagt-select>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-xxxl-3 ">
                <div class="row">
                    <div class="col-md-12 col-lg-12 pb-1">Danh sách nhân viên</div>
                    <div class="col-md-12 col-lg-12">
                        <nb-select placeholder="--Chọn--" style="width: 100%">
                            <nb-option value="1">NV001 - Trần Thu Huỳnh</nb-option>
                            <nb-option value="2">NV002 - Võ Trần Bảo Nam</nb-option>
                            <nb-option value="3">NV003 - Huỳnh Công Tuấn</nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="col-md-6 offset-md-3 text-center">
                    <button class="mr-1" nbButton status="primary" size="small" (click)="onSearchChange()"> 
                        <i class="fa fa-search"></i> Tìm kiếm
                    </button>
                    <button class="mr-1" nbButton status="warning" size="small" (click)="resetHandler()">
                        <i class="fa fa-search"></i> Làm mới
                    </button>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header> Khách hàng </nb-card-header>
    <nb-card-body class="group-button">
        <button nbButton status="primary" (click)="addHandler()">Thêm mới</button>
        <button nbButton status="danger" (click)="removeSelectedHandler()" [disabled]="selectionIds.length < 1">
            Xóa
        </button>
        <button nbButton status="wrapper" (click)="importHandler()">Import</button>
        <button nbButton status="success" (click)="exportHandler()">Export</button>
    </nb-card-body>
    <nb-card-body>
        <!-- <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table> -->
        <kendo-grid [data]="gridView$" [resizable]="true" [pageSize]="gridState.take" [skip]="gridState.skip" [loading]="isLoading" [pageable]="true" [resizable]="true" kendoGridSelectBy="id" [selectable]="true" [selectedKeys]="selectionIds" (dataStateChange)="onStateChange($event)">
            <kendo-grid-checkbox-column class="text-center" showSelectAll="true" [width]="50" [columnMenu]="false" [headerStyle]="{
          'text-align': 'center'
        }">

            </kendo-grid-checkbox-column>
            <kendo-grid-column class="text-center" [width]="70">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button nbButton status="info" [matMenuTriggerFor]="menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item class="button_box" (click)="editHandlerCSKH(dataItem)">
                            <div class="box_botton">
                                <i class="fa fa-user mr-2"></i>  Chăm sóc khách hàng
                            </div>
                        </button>
                        <button mat-menu-item class="button_box" color="primary" (click)="editHandler(dataItem)">
                            <div class="box_botton">
                                <i class="fa fa-edit mr-2"></i> Chỉnh sửa
                             </div>
                        </button>
                        <button mat-menu-item class="button_box" (click)="removeHandler(dataItem)">
                            <div class="box_botton">
                                <i class="fa fa-trash mr-2"></i> Xóa
                            </div>
                        </button>
                    </mat-menu>
                </ng-template>
            </kendo-grid-column>
            <!-- <kendo-grid-column class="text-center" field="id" title="ID" [width]="60">
            </kendo-grid-column> -->

            <kendo-grid-column title="STT" [width]="60" class="text-center" [headerStyle]="{
          'text-align': 'center'
        }">
                <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                    {{ rowIndex + 1 }}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="hoTen" title="Họ tên" [width]="220">
            </kendo-grid-column>
            <kendo-grid-column field="ngaySinh" title="Ngày sinh" [width]="100" class="text-center" [headerStyle]="{
          'text-align': 'center'
        }">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.ngaySinh | date: "dd/MM/yyyy" }}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="soDienThoai" title="Số điện thoại" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="email" title="Email" [width]="120">
            </kendo-grid-column>
            <kendo-grid-column field="loaiKhachHang" title="Loại khách hàng" [width]="140">
            </kendo-grid-column>
            <ng-template kendoGridDetailTemplate let-dataItem>
                <section>
                    <div *ngIf="dataItem.hoTen != null && dataItem.hoTen != ''">
                        <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                            <label class="col-form-label">  Họ tên </label>
                            <span class="float-right">:</span>
                        </div>
                        <div class="col-md-12 col-lg-9 col-xxxl-2">
                            <label class=" col-form-label lb-bold-info">
                                {{ dataItem?.hoTen }} 
                            </label>
                        </div>

                    </div>
                    <div *ngIf="dataItem.ngaySinh != null && dataItem.ngaySinh != ''">
                        <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                            <label class="col-form-label">  Ngày sinh </label>
                            <span class="float-right">:</span>
                        </div>
                        <div class="col-md-12 col-lg-9 col-xxxl-2">
                            <label class=" col-form-label lb-bold-info">
                                {{ dataItem.ngaySinh | date: "dd/MM/yyyy" }} 
                            </label>
                        </div>

                    </div>
                    <div *ngIf="dataItem.diaChi != null && dataItem.diaChi != ''">
                        <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                            <label class="col-form-label">  Địa chỉ</label>
                            <span class="float-right">:</span>
                        </div>
                        <div class="col-md-12 col-lg-9 col-xxxl-2">
                            <label class=" col-form-label lb-bold-info">
                                {{ dataItem?.diaChi }}
                            </label>
                        </div>

                    </div>
                    <div *ngIf="dataItem.soDienThoai != null && dataItem.soDienThoai != ''">
                        <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                            <label class="col-form-label">   Số điện thoại </label>
                            <span class="float-right">:</span>
                        </div>
                        <div class="col-md-12 col-lg-9 col-xxxl-2">
                            <label class=" col-form-label lb-bold-info">
                                {{ dataItem?.soDienThoai }}
                            </label>
                        </div>

                    </div>
                    <div *ngIf="dataItem.email != null && dataItem.email != ''">
                        <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                            <label class="col-form-label">   Email</label>
                            <span class="float-right">:</span>
                        </div>
                        <div class="col-md-12 col-lg-9 col-xxxl-2">
                            <label class=" col-form-label lb-bold-info">
                                {{ dataItem?.email }}
                            </label>
                        </div>

                    </div>
                    <div *ngIf="dataItem.loaiKhachHang != null && dataItem.loaiKhachHang != ''">
                        <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                            <label class="col-form-label">   Loại khách hàng </label>
                            <span class="float-right">:</span>
                        </div>
                        <div class="col-md-12 col-lg-9 col-xxxl-2">
                            <label class=" col-form-label lb-bold-info">
                                {{ dataItem?.loaiKhachHang }}
                </label>
                        </div>

                    </div>
                </section>
            </ng-template>
        </kendo-grid>
    </nb-card-body>
</nb-card>

<div class="k-overlay" *ngIf="opened"></div>
<div class="wrapper form-layouts">
    <div kendoWindowContainer></div>
</div>