        @import '../../../../@theme/styles/themes';
        @include nb-install-component() {
            nb-card {
                transform: translate3d(0, 0, 0);
            }
        }
        
        .group-button {
            text-align: right;
        }
        
        .group-button button {
            margin-right: 5px !important;
        }
        
        .button_box:focus {
            outline: unset;
        }
        
        .box_botton i {
            padding: 15px 0;
            margin-right: 10px;
        }
        
        .custom_table {
            label {
                font-weight: bold;
            }
            span {
                padding: 7px 0;
                font-weight: bold;
            }
        }
        
        .box_botton {
            .fa-user {
                color: #00d78f;
            }
            .fa-edit {
                color: #36f;
            }
            .fa-trash {
                color: #ff3d71;
            }
        }