<form class="m-form" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">    
    <div class="form-group m-form__group col-6">
      <label> Nhân viên phụ trách </label>
      <nb-select placeholder="--Chọn--" style="width: 100%">
        <nb-option value="1">NV001 - Trần Thu Huỳnh</nb-option>
        <nb-option value="2">NV002 - Võ Trần Bảo Nam</nb-option>
        <nb-option value="3">NV003 - Huỳnh Công Tuấn</nb-option>
      </nb-select>
    </div>  
    <div class="form-group m-form__group col-6">
      <label> Ngày chăm sóc </label>
      <input
        type="date"
        nbInput
        class="m-input form-control"
        formControlName="ngayChamSoc"
      />
    </div> 
    <div class="form-group m-form__group col-12">
      <label> Đường dẫn đề thi </label>
      <input
        type="text"
        class="m-input form-control"
        formControlName="urlDeThi"
      />
    </div> 
    <div class="form-group m-form__group col-12">
      <label> Địa chỉ </label>
      <input
        type="text"
        class="m-input form-control"
        formControlName="diaChi"
      />
    </div> 
    <div class="form-group m-form__group col-12">
      <label> Ghi chú </label>
      <textarea
        rows="4"
        class="m-input form-control"
        formControlName="ghiChu"
      ></textarea>
    </div>
    <div class="form-group m-form__group col-12">
      <label> Phản hồi </label>
      <textarea
        rows="4"
        class="m-input form-control"
        formControlName="phanHoi"
      ></textarea>
    </div>
  </div>
  <div class="text-right border-form-footer">
    <button
      nbButton
      status="default"
      type="button"
      (click)="closeForm()"
      class="btn_custom btn_df mr-1"
    >
      Hủy
    </button>
    <button nbButton status="primary" type="submit" class="btn_custom btn_add">
      Lưu
    </button>
  </div>
</form>
