<nb-card *ngIf="!isChild">
    <nb-card-body>
        <div class="row">
            <div class="col-md-12 col-lg-4 col-xxxl-4">
                <nb-alert class="box_alert m-0" status="danger"> Tổng số<span
                        class="report_nb text-right w-100 pr-4">{{ countChamSoc.tongSo }}</span> </nb-alert>
            </div>
            <div class="col-md-12 col-lg-4 col-xxxl-4">
                <nb-alert class="box_alert m-0" status="success">Đã chăm sóc<span
                        class="report_nb text-right w-100 pr-4">{{ countChamSoc.daChamSoc }}</span></nb-alert>
            </div>
            <div class="col-md-12 col-lg-4 col-xxxl-4">
                <nb-alert class="box_alert m-0" status="warning">Chưa chăm sóc<span
                        class="report_nb text-right w-100 pr-4">{{ countChamSoc.chuaChamSoc }}</span></nb-alert>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<div class="mb-3" *ngIf="!isChild">
    <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>
                Tìm kiếm
          </nb-accordion-item-header>
          <nb-accordion-item-body>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xxxl-3 ">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 pb-1">Từ khóa</div>
                            <div class="col-md-12 col-lg-12">
                                <input type="text" nbInput class="m-input form-control" [(ngModel)]="modelSearch.filter" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xxxl-3 ">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 pb-1">Loại chăm sóc</div>
                            <div class="col-md-12 col-lg-12">
                                <ngx-cagt-select [modeOfDropDowList]="dropdownListEnum.LOAI_CHAM_SOC" [isMulti]="true"
                                    [(ngModel)]="modelSearch.loaiChamSoc">
                                </ngx-cagt-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xxxl-3 ">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 pb-1">Thời gian từ</div>
                            <div class="col-md-12 col-lg-12">
                                <input type="date" nbInput class="m-input form-control mr-2"
                                    [(ngModel)]="modelSearch.ngayChamSocTu" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xxxl-3 ">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 pb-1">Thời gian đến</div>
                            <div class="col-md-12 col-lg-12">
                                <input type="date" nbInput class="m-input form-control mr-2"
                                    [(ngModel)]="modelSearch.ngayChamSocDen" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="col-md-6 offset-md-3 text-center">
                            <button class="mr-2" nbButton status="primary" size="small" (click)="onSearchChange()">
                                <i class="fa fa-search mr-2"></i> Tìm kiếm
                            </button>
                            <button class="mr-2" nbButton status="warning" size="small" (click)="resetHandler()">
                                <i class="fas fa-redo-alt mr-2"></i> Làm mới
                            </button>
                        </div>
                    </div>
                </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</div>
<nb-card>
    <nb-card-header>
        Chăm sóc khách hàng
    </nb-card-header>
    <nb-card-body class="group-button pb-0">
        <!-- <button nbButton status="primary" (click)="addHandler()"><i class="fa fa-plus mr-2"></i> Thêm mới</button> -->
        <div class="float-left">
            <button nbButton status="primary" (click)="addHandler()"><i class="fa fa-plus mr-2"></i> Thêm mới</button>
            <button nbButton status="danger" (click)="removeSelectedHandler()" [disabled]="selectionIds.length < 1">
                <i class="fa fa-trash mr-2"></i> Xóa
            </button>
            <!-- <button nbButton status="basic" (click)="importHandler()"><i
                class="fas fa-file-upload mr-2"></i>Import</button>
            <button nbButton status="success" (click)="exportHandler()"><i
                class="fas fa-file-download mr-2"></i>Export</button> -->
        </div>
    </nb-card-body>
    <nb-card-body>
        <nb-tabset>
            <nb-tab class="pl-0 pr-0" tabTitle="Tất cả">
                <kendo-grid 
                    class="kendo_custom " 
                    [data]="gridView$" 
                    [resizable]="true" 
                    [pageSize]="gridState.take"
                    [skip]="gridState.skip" 
                    [loading]="isLoading" 
                    [pageable]="true" 
                    [resizable]="true"
                    kendoGridSelectBy="id" 
                    [selectable]="true" 
                    [selectedKeys]="selectionIds"
                    (dataStateChange)="onStateChange($event)">
                    <kendo-grid-checkbox-column class="text-center" showSelectAll="true" [width]="50" [columnMenu]="false" [headerStyle]="{
                        'text-align': 'center'
                      }">
                    </kendo-grid-checkbox-column>
                    <kendo-grid-column class="text-center" [width]="80">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <button nbButton status="info" size="small" [matMenuTriggerFor]="menu">
                                    <i class="fa fa-bars"></i>
                                </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item class="button_box" color="primary" (click)="editHandler(dataItem)">
                                        <div class="box_botton">
                                            <i class="fa fa-edit mr-2" style="width: 20px;"></i>Chỉnh sửa
                                        </div>
                                    </button>
                                <button mat-menu-item class="button_box" (click)="removeHandler(dataItem)">
                                        <div class="box_botton">
                                            <i class="fa fa-trash mr-2" style="width: 20px;"></i>Xóa
                                        </div>
                                    </button>
                            </mat-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="STT" [width]="60" class="text-center" [headerStyle]="{
                        'text-align': 'center'
                      }">
                        <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                            {{ rowIndex + 1 }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="codeChamSoc" class="kendo_title" title="Code chăm sóc" [width]="150">
                    </kendo-grid-column>
                    <kendo-grid-column field="getKhachHang.hoTen" class="kendo_title" title="Thông tin khách hàng">
                    </kendo-grid-column>
                    <kendo-grid-column field="ngayChamSocDuKien" class="kendo_title" title="Ngày CSKH dự kiến" [width]="180" [headerStyle]="{ 'text-align': 'center'}">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="text-center">
                                {{ dataItem.ngayChamSocDuKien | date: "dd/MM/yyyy" }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <!-- <kendo-grid-column field="getKhachHang.soDienThoai" class="kendo_title" title="Số điện thoại" [width]="150" [headerStyle]="{ 'text-align': 'center'}">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="text-center">
                                {{ dataItem.getKhachHang.soDienThoai }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="getKhachHang.nhanVienPhuTrach" class="kendo_title" title="Nhân viên phụ trách">
                    </kendo-grid-column> -->
                    <kendo-grid-column field="trangThaiChamSoc" class="kendo_title" title="Trạng thái chăm sóc">
                    </kendo-grid-column>
                    <ng-template kendoGridDetailTemplate let-dataItem>
                        <section>
                            <div class="row" *ngIf="dataItem.getKhachHang.hoTen != null && dataItem.getKhachHang.hoTen != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Họ tên </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.hoTen }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.getKhachHang.ngaySinh != null && dataItem.getKhachHang.ngaySinh != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Ngày sinh </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.ngaySinh | date: "dd/MM/yyyy" }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.getKhachHang.soDienThoai != null && dataItem.getKhachHang.soDienThoai != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Số điện thoại </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.soDienThoai }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.getKhachHang.email != null && dataItem.getKhachHang.email != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Email </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.email }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.getKhachHang.diaChi != null && dataItem.getKhachHang.diaChi != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Địa chỉ </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.diaChi }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.ngayChamSocDuKien != null && dataItem.ngayChamSocDuKien != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Ngày chăm sóc dự kiến </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem.ngayChamSocDuKien | date: "dd/MM/yyyy" }}

                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.loaiChamSoc != null && dataItem.loaiChamSoc != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Loại chăm sóc </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.loaiChamSoc }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.trangThaiChamSoc != null && dataItem.trangThaiChamSoc != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Trạng thái chăm sóc </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.trangThaiChamSoc }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.noiDungChamSoc != null && dataItem.noiDungChamSoc != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Nội dung chăm sóc </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.noiDungChamSoc }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.feedBackKhahHang != null && dataItem.feedBackKhahHang != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Feedback Khách hàng </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.feedBackKhahHang }}
                                    </label>
                                </div>
                            </div>
                        </section>
                    </ng-template>
                </kendo-grid>
            </nb-tab>
            <nb-tab class="pl-0 pr-0" tabTitle="Đã chăm sóc">
                <kendo-grid 
                    class="kendo_custom " 
                    [data]="gridDaChamSoc$" 
                    [resizable]="true" 
                    [pageSize]="gridState.take"
                    [skip]="gridState.skip" 
                    [loading]="isLoading" 
                    [pageable]="true" 
                    [resizable]="true"
                    kendoGridSelectBy="id" 
                    [selectable]="true" 
                    [selectedKeys]="selectionIds"
                    (dataStateChange)="onStateChange($event)">
                    <kendo-grid-checkbox-column class="text-center" showSelectAll="true" [width]="50" [columnMenu]="false" [headerStyle]="{
                        'text-align': 'center'
                      }">
                    </kendo-grid-checkbox-column>
                    <kendo-grid-column class="text-center" [width]="80">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <button nbButton status="info" [matMenuTriggerFor]="menuDaChamSoc">
                                    <i class="fa fa-bars"></i>
                                </button>
                            <mat-menu #menuDaChamSoc="matMenu">
                                <button mat-menu-item class="button_box" color="primary" (click)="editHandler(dataItem)">
                                        <div class="box_botton">
                                            <i class="fa fa-edit mr-2" style="width: 20px;"></i>Chỉnh sửa
                                        </div>
                                    </button>
                                <button mat-menu-item class="button_box" (click)="removeHandler(dataItem)">
                                        <div class="box_botton">
                                            <i class="fa fa-trash mr-2" style="width: 20px;"></i>Xóa
                                        </div>
                                    </button>
                            </mat-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="STT" [width]="60" class="text-center" [headerStyle]="{
                        'text-align': 'center'
                      }">
                        <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                            {{ rowIndex + 1 }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="codeChamSoc" class="kendo_title" title="Code chăm sóc" [width]="150">
                    </kendo-grid-column>
                    <kendo-grid-column field="getKhachHang.hoTen" class="kendo_title" title="Thông tin khách hàng">
                    </kendo-grid-column>
                    <kendo-grid-column field="ngayChamSocDuKien" class="kendo_title" title="Ngày CSKH dự kiến" [width]="180" [headerStyle]="{ 'text-align': 'center'}">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="text-center">
                                {{ dataItem.ngayChamSocDuKien | date: "dd/MM/yyyy" }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="getKhachHang.soDienThoai" class="kendo_title" title="Số điện thoại" [width]="150" [headerStyle]="{ 'text-align': 'center'}">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="text-center">
                                {{ dataItem.getKhachHang.soDienThoai }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="getKhachHang.nhanVienPhuTrach" class="kendo_title" title="Nhân viên phụ trách">
                    </kendo-grid-column>
                    <kendo-grid-column field="trangThaiChamSoc" class="kendo_title" title="Trạng thái chăm sóc">
                    </kendo-grid-column>
                    <ng-template kendoGridDetailTemplate let-dataItem>
                        <section>
                            <div class="row" *ngIf="dataItem.getKhachHang.hoTen != null && dataItem.getKhachHang.hoTen != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Họ tên </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.hoTen }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.getKhachHang.ngaySinh != null && dataItem.getKhachHang.ngaySinh != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Ngày sinh </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.ngaySinh | date: "dd/MM/yyyy" }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.getKhachHang.soDienThoai != null && dataItem.getKhachHang.soDienThoai != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Số điện thoại </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.soDienThoai }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.getKhachHang.email != null && dataItem.getKhachHang.email != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Email </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.email }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.getKhachHang.diaChi != null && dataItem.getKhachHang.diaChi != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Địa chỉ </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.diaChi }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.ngayChamSocDuKien != null && dataItem.ngayChamSocDuKien != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Ngày chăm sóc dự kiến </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem.ngayChamSocDuKien | date: "dd/MM/yyyy" }}

                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.loaiChamSoc != null && dataItem.loaiChamSoc != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Loại chăm sóc </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.loaiChamSoc }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.trangThaiChamSoc != null && dataItem.trangThaiChamSoc != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Trạng thái chăm sóc </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.trangThaiChamSoc }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.noiDungChamSoc != null && dataItem.noiDungChamSoc != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Nội dung chăm sóc </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.noiDungChamSoc }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.feedBackKhahHang != null && dataItem.feedBackKhahHang != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Feedback Khách hàng </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.feedBackKhahHang }}
                                    </label>
                                </div>
                            </div>
                        </section>
                    </ng-template>
                </kendo-grid>
            </nb-tab>
            <nb-tab class="pl-0 pr-0" tabTitle="Chưa chăm sóc">
                <kendo-grid 
                    class="kendo_custom " 
                    [data]="gridChuaChamSoc$" 
                    [resizable]="true" 
                    [pageSize]="gridState.take"
                    [skip]="gridState.skip" 
                    [loading]="isLoading" 
                    [pageable]="true" 
                    [resizable]="true"
                    kendoGridSelectBy="id" 
                    [selectable]="true" 
                    [selectedKeys]="selectionIds"
                    (dataStateChange)="onStateChange($event)">
                    <kendo-grid-checkbox-column class="text-center" showSelectAll="true" [width]="50" [columnMenu]="false" [headerStyle]="{
                        'text-align': 'center'
                      }">
                    </kendo-grid-checkbox-column>
                    <kendo-grid-column class="text-center" [width]="80">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <button nbButton status="info" [matMenuTriggerFor]="menuChuaChamSoc">
                                    <i class="fa fa-bars"></i>
                                </button>
                            <mat-menu #menuChuaChamSoc="matMenu">
                                <button mat-menu-item class="button_box" color="primary" (click)="editHandler(dataItem)">
                                        <div class="box_botton">
                                            <i class="fa fa-edit mr-2" style="width: 20px;"></i>Chỉnh sửa
                                        </div>
                                    </button>
                                <button mat-menu-item class="button_box" (click)="removeHandler(dataItem)">
                                        <div class="box_botton">
                                            <i class="fa fa-trash mr-2" style="width: 20px;"></i>Xóa
                                        </div>
                                    </button>
                            </mat-menu>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column title="STT" [width]="60" class="text-center" [headerStyle]="{
                        'text-align': 'center'
                      }">
                        <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                            {{ rowIndex + 1 }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="codeChamSoc" class="kendo_title" title="Code chăm sóc" [width]="150">
                    </kendo-grid-column>
                    <kendo-grid-column field="getKhachHang.hoTen" class="kendo_title" title="Thông tin khách hàng">
                    </kendo-grid-column>
                    <kendo-grid-column field="ngayChamSocDuKien" class="kendo_title" title="Ngày CSKH dự kiến" [width]="180" [headerStyle]="{ 'text-align': 'center'}">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="text-center">
                                {{ dataItem.ngayChamSocDuKien | date: "dd/MM/yyyy" }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="getKhachHang.soDienThoai" class="kendo_title" title="Số điện thoại" [width]="150" [headerStyle]="{ 'text-align': 'center'}">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="text-center">
                                {{ dataItem.getKhachHang.soDienThoai }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="getKhachHang.nhanVienPhuTrach" class="kendo_title" title="Nhân viên phụ trách">
                    </kendo-grid-column>
                    <kendo-grid-column field="trangThaiChamSoc" class="kendo_title" title="Trạng thái chăm sóc">
                    </kendo-grid-column>
                    <ng-template kendoGridDetailTemplate let-dataItem>
                        <section>
                            <div class="row" *ngIf="dataItem.getKhachHang.hoTen != null && dataItem.getKhachHang.hoTen != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Họ tên </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.hoTen }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.getKhachHang.ngaySinh != null && dataItem.getKhachHang.ngaySinh != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Ngày sinh </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.ngaySinh | date: "dd/MM/yyyy" }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.getKhachHang.soDienThoai != null && dataItem.getKhachHang.soDienThoai != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Số điện thoại </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.soDienThoai }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.getKhachHang.email != null && dataItem.getKhachHang.email != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Email </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.email }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.getKhachHang.diaChi != null && dataItem.getKhachHang.diaChi != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Địa chỉ </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.getKhachHang?.diaChi }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.ngayChamSocDuKien != null && dataItem.ngayChamSocDuKien != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Ngày chăm sóc dự kiến </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem.ngayChamSocDuKien | date: "dd/MM/yyyy" }}

                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.loaiChamSoc != null && dataItem.loaiChamSoc != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Loại chăm sóc </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.loaiChamSoc }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.trangThaiChamSoc != null && dataItem.trangThaiChamSoc != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Trạng thái chăm sóc </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.trangThaiChamSoc }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.noiDungChamSoc != null && dataItem.noiDungChamSoc != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Nội dung chăm sóc </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.noiDungChamSoc }}
                                    </label>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataItem.feedBackKhahHang != null && dataItem.feedBackKhahHang != ''">
                                <div class="col-md-12 col-lg-3 col-xxxl-2 float-left custom_table">
                                    <label class="col-form-label">Feedback Khách hàng </label>
                                    <span class="float-right">:</span>
                                </div>
                                <div class="col-md-12 col-lg-9 col-xxxl-2">
                                    <label class=" col-form-label lb-bold-info">
                                        {{ dataItem?.feedBackKhahHang }}
                                    </label>
                                </div>
                            </div>
                        </section>
                    </ng-template>
                </kendo-grid>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>

<div *ngIf="!isChild">
    <div class="k-overlay" *ngIf="opened"></div>
    <div class="wrapper form-layouts">
        <div kendoWindowContainer></div>
    </div>
</div>